body {
//  font-size: 18pt;
}

.main-panel {
  margin-left: 5%;
  width: 90%;
}

.container {
  margin-bottom: 1em;
}

div.header-panel {
  background-color: #ee6e73;
}

.container.result-root .row {
  margin-bottom: 0.5em;
}

input.form-control {
//  background-color: #fcfcfc;
}
